$bgcolor: #000000;
$HelNu:Helvetica Neue;
$arista:z_aristaregular;
$copyColour: #ffffff;

@font-face {
  font-family: 'z_aristaregular';
  src: url('../fonts/z_arista-webfont.woff2') format('woff2'),
    url('../fonts/z_arista-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background: $bgcolor;
}
 .loaderProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 10px;
  background-color: #ff0000;
}
.textCenter {
  text-align: center;
}
.textWhite {
  color: #fff;
}
.loaderTitle {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: Helvetica, Verdana, Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 31px;
  font-weight: 100;
  letter-spacing: 40px;
}
.loader {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #0a0a0a;
}

.app {
  position: absolute;
  z-index: 4;

  width: 100%;
  height: 100%;

  will-change: transform;
}

// viewport
.appViewport {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.appViewport canvas {
  width: 100% !important;
  height: 100% !important;
}
