@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

@include normalize();
$bgcolor: #000000;
$arista:z_aristaregular;
$copyColour: #ffffff;
$nodeSize: 25px;
$mapWidth: $nodeSize * 10.5;
$loadLetterSize: 30px;
$mainCopyFont: Helvetica,
Arial,
Verdana,
Futura,
'Trebuchet MS',
sans-serif;
$infoCopyFont: Helvetica Neue,
Arial,
Verdana,
Futura,
'Trebuchet MS',
sans-serif;



//fonts to load
@font-face {
  font-family: 'z_aristaregular';
  src: url('../fonts/z_arista-webfont.woff2') format('woff2'),
    url('../fonts/z_arista-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $bgcolor;
}

a {
  color: #999999;
  text-decoration: none;
}


a:hover {
  color: #ffffff;
  text-decoration: none;
}


// viewport
.appViewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
  z-index: 4;
}

.loaderProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 10px;
  background-color: #ff0000;
}

.textCenter {
  text-align: center;
}

.textWhite {
  color: #ffffff;
}

.loaderTitle {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: $mainCopyFont;
}

.loadCopy {
  letter-spacing: $loadLetterSize;
}

.loadCopyG {
  letter-spacing: 0px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #0a0a0a;
  z-index: 5;
}

.appViewport canvas {
  width: 100% !important;
  height: 100% !important;
}

@mixin transition ($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin border-radius ($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.map {
  position: absolute;
  bottom: 20px;
  height: $nodeSize*1.5;
  // @include transition(opacity .3s ease-in-out);
  z-index: 55;
}

.mapBackground {
  position: absolute;
  opacity: .25;
  background-color: #000000;
}

.mapNode:hover {
  opacity: 1 !important;
}

.mapNode {
  position: relative;
  float: left;
  cursor: pointer;
  opacity: 0;
  background-color: #ffffff;
  @include border-radius(3px);
  @include transition(background-color .3s ease-in-out);
}

.mapNode.isActive {
  background-color: #ffffff;
  opacity: .95 !important;
}

// menu
.stats {
  position: absolute;
  top: 0px !important;
  right: 80px !important;
  z-index: 6;
}

.mainScreenHolderBackground {
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 4;
}

.infoHolderDiv {
  position: absolute;
  top: 100px;
  left: 10%;
  width: 80%;
  height: 75%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  //border: 1px solid pink;
  z-index: 5;
}

.infoCopy {
  font-family: $infoCopyFont;
  color: #ffffff;
  letter-spacing: 1px;
}

.introDiv {
  display: block;
  position: relative;
  //border: 1px solid green;
}

.introTitle {
  display: block;
  position: relative;
  font-size: 46px;
  //border: 1px solid yellowgreen;
}

.introBody {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  //border: 1px solid rebeccapurple;
}

.infoDiv {
  display: block;
  position: relative;
  // border: 1px solid orange;
  height: auto;
  margin-top: 20px;
  line-height: 20px;
}

.infoTitle {
  display: block;
  position: relative;
  font-size: 16px;

  // border: 1px solid blueviolet;
}

.infoBody {
  display: block;
  position: relative;
  //border: 1px solid goldenrod;
  font-size: 14px;
  color: #bbbbbb;
  margin-top: 5px;
}

.closeButtonDiv {
  position: absolute;
  z-index: 5;
  top: 75px;
  cursor: pointer;
}

.divCloseBtn {
  width: 50px;
  height: 50px;
}

.menu {
  position: absolute;
  top: 0px;
  left: -130px;
  height: 60px;
  opacity: 0;
  font-family: $mainCopyFont;
  font-size: 14px;
  font-weight: 10;
  letter-spacing: 5px;
  z-index: 66;

}

.menuButton {
  position: absolute;
  display: block;
  top: 22px;
  left: -10px;
  width: 35px;
  height: 30px;
  opacity: 1.0;
  z-index: 66;
  visibility: visible;
 

  cursor: pointer;
}


.menuButtonLine {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  box-shadow: 0px 1px;
}

.menuButtonLineTop {
  top: 0;
}

.menuButtonLineMiddle {
  top: 50%;
  margin-top: -1px;
}

.menuButtonLineBottom {
  bottom: 1px;
}

.menuItems {
  display: none;
  background-color: rgba(0, 0, 0, 0.55);
}

.menuItem {
  line-height: 60px;
  margin: 0px 0px 0px 40px;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  color: #aaaaaa;
}

.menuItem:hover {
  color: #ffffff;
}

.menuItem.isActive {
  color: #ffffff;
}

/*  SMALL SCREEN  START  */
@media screen and (max-width: 600px) {
  $nodeSize: 30px;
  $mapWidth: $nodeSize * 10.5;

  .mapBackground {
    width: $mapWidth + $nodeSize* .5;
    height: $nodeSize*2.0;
    bottom: 0;
  }

  .mapNode {
    width: $nodeSize;
    height: $nodeSize;
    margin-left: $nodeSize*.5;
  }

  .map {
    width: $mapWidth;
    left: 50%;
    margin-left: floor($mapWidth / 2) * -1;
    height: $nodeSize*1.5;
  }

  $loadLetterSize: 20px;

  .loaderTitle {
    font-size: $loadLetterSize;
    font-weight: $loadLetterSize;
  }

  .loadCopy {
    letter-spacing: $loadLetterSize;
  }

  .infoHolderDiv {
    top: 100px;
    left: 10%;
    width: 70%;
    height: 75%;
  }

  .closeButtonDiv {
    right: 5%;
  }

  .menu {
    width: 160px;
  }

  .menuItems {
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .menuButton {
    left: 120px;
   }

}

/*  SMALL SCREEN  END  */

/*   LARGE SCREEN START */
@media screen and (min-width: 600px) {
  $nodeSize: 20px;
  $mapWidth: $nodeSize * 10.5;

  .mapBackground {
    width: $mapWidth + $nodeSize* .5;
    height: $nodeSize*2.0;
    bottom: 0;
  }

  .mapNode {
    width: $nodeSize;
    height: $nodeSize;
    margin-left: $nodeSize*.5;
  }

  .map {
    width: $mapWidth;
    left: 50%;
    margin-left: floor($mapWidth / 2) * -1;
    height: $nodeSize*1.5;
  }

  $loadLetterSize: 30px;

  .loaderTitle {
    font-size: $loadLetterSize;
    font-weight: $loadLetterSize;
  }

  .loadCopy {
    letter-spacing: $loadLetterSize;
  }

  .infoHolderDiv {
    top: 100px;
    left: 100px;
    width: 400px;
    height: 75%;
  }

  .closeButtonDiv {
    left: 525px;
  }

  .menu {
    width: 565px;
  }

  .menuItems {
    display: none;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .menuButton {
   left: -10px;
  }
}

/*   LARGE SCREEN  END */


/*   HUGE SCREEN START */
@media screen and (min-width: 800px) {



  .infoHolderDiv {
   
    width: 550px;
 
  }

  .closeButtonDiv {
    left: 675px;
  }

  
}

/*   HUGE SCREEN  END */


